


.gap10 {
    gap: 10px;
}
.gap2 {
    gap: 2px;
}
.border {
    border: 1px solid black;
}

.pad5 {
    padding: 5px;
}
.marg-bot {
    margin-bottom: 5px;
}


.cursor-point {
    cursor: pointer;
}

.txt-center {
    text-align: center;
}

.fs-10 {
    font-size: 10px;
}
.fs-14 {
    font-size: 14px;
}
.fs-35 {
    font-size: 35px;
}
.fs-50 {
    font-size: 50px;
}
.fs-100 {
    font-size: 100px;
}

.grow1 {
    flex: 1;
}
.grow2 {
    flex: 2;
}
.grow3 {
    flex: 3;
}
.offClick {
    pointer-events: none;
}

/*-----------------------------*/

img {
    width: 200px;
}
.userCard {
    width: 200px;
}
.poke:hover {
    scale: 1.1;
}